@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fadeToBlack {
    from {
        background-color: white;
    }
    to {
        background-color: black;
    }
}

body {
    user-select: none;
    font-size: 0;
}

.rotating {
    animation: rotating 2s linear infinite;
}

.game-btn {
    height: 444px;
    width: 444px;
    border: 3px solid;
    display: inline-block;
    padding: 0;
    margin: 0;
    position: relative;
}

.life-corner {
    height: 0px;
    width: 0px;
    border: 1px solid;
    float: left;
    padding: 0;
    margin: 0;
}

.corner-top-left {
    border-top-left-radius: 32px;
}

.corner-top-right {
    border-top-right-radius: 32px;
}

.corner-bottom-left {
    border-bottom-left-radius: 32px;
    clear: left;
}

.corner-bottom-right {
    border-bottom-right-radius: 32px;
}

.life {
    margin: 0 8px;
    display: inline-block;
    position: relative;
    top: 16px;
    left: 16px;
}

.enabled-btn:active {
    box-shadow: 0 16px 16px rgba(0,0,0,0.4) inset;
}

.brick {
    border: 2px solid;
    display: inline-block;
    height: 32px;
    width: 100px;
    position: relative;
    top: 20px;
}

.red {
    background-color: #ea4335;
    border-color: #AB3127;
}

.yellow {
    background-color: #fbbc05;
    border-color: #B78904;
}

.green {
    background-color: #34a853;
    border-color: #267B3D;
}

.blue {
    background-color: #4285f4;
    border-color: #3161B2;
}

.hidden-brick {
    border: none;
    background-color: transparent;
}

.fade-to-black {
    animation: fadeToBlack 1s linear 1;
}

#r-btn {
    border-radius: 50%;
}

#y-btn {
    width: 220px;
    border-top-right-radius: 444px;
    border-bottom-right-radius: 444px;
    top: -1000px;
}

#g-btn, #b-btn {
    height: 220px;
    width: 220px;
}

#g-btn {
    border-bottom-left-radius: 220px;
    left: -2000px;
}

#b-btn {
    border-bottom-right-radius: 220px;
    right: -2000px;
}

#paddle-container {
    position: absolute;
    bottom: 30px;
    width: 1000px;
}

#paddle {
    background-color: #4D5057;
    border: 2px solid #393B40;
    height: 0;
    width: 0;
    position: relative;
    bottom: 12px;
    left: 564px;
}

#field {
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    position: relative;
}

#button-container {
    display: block;
    height: 444px;
    width: 444px;
    position: relative;
    top: 78px;
    left: 278px;
}

#bricks-container {
    position: absolute;
    padding-top: 20px;
}

#lives-container {
    position: absolute;
}

.lit-btn#r-btn, .enabled-btn#r-btn:active {
    background-color: #EF766C;
}

.lit-btn#y-btn, .enabled-btn#y-btn:active {
    background-color: #FCCE49;
}

.lit-btn#g-btn, .enabled-btn#g-btn:active {
    background-color: #6BBF81;
}

.lit-btn#b-btn, .enabled-btn#b-btn:active {
    background-color: #75A6F7;
}