body {
    font-size: 0;
    user-select: none;
    text-align: center;
}

.button-container {
    display: inline-block;
}

.game-btn {
    height: 444px;
    width: 444px;
    border: 3px solid;
    display: inline-block;
    padding: 0;
    margin: 0;
    position: relative;
}

.enabled-btn:active {
    box-shadow: 0 16px 16px rgba(0,0,0,0.4) inset;
}

#r-btn {
    background-color: #ea4335;
    border-color: #AB3127;
    border-radius: 50%;
}

#y-btn {
    background-color: #fbbc05;
    border-color: #B78904;
    width: 220px;
    border-top-right-radius: 444px;
    border-bottom-right-radius: 444px;
    top: -999px;
}

#g-btn, #b-btn {
    height: 220px;
    width: 220px;
}

#g-btn {
    background-color: #34a853;
    border-color: #267B3D;
    border-bottom-left-radius: 220px;
    left: -2000px;
}

#b-btn {
    background-color: #4285f4;
    border-color: #3161B2;
    border-bottom-right-radius: 220px;
    right: -2000px;
}

.lit-btn#r-btn, .enabled-btn#r-btn:active {
    background-color: #EF766C;
}

.lit-btn#y-btn, .enabled-btn#y-btn:active {
    background-color: #FCCE49;
}

.lit-btn#g-btn, .enabled-btn#g-btn:active {
    background-color: #6BBF81;
}

.lit-btn#b-btn, .enabled-btn#b-btn:active {
    background-color: #75A6F7;
}